.header {
  margin-top: 20px;
  margin-bottom: 40px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container a {
  font-size: 28px;
  cursor: pointer;
  color: black;
}
